.sbwcit_post_meta_cont {
    width: 50%;
    float: left;
}

div#sbwcit_meta_box {
    overflow: auto;
}

div#sbwcit_meta_box .inside {
    overflow: auto;
    padding: 0 15px 15px;
}

.sbwcit_post_meta_cont>label {
    display: block;
    line-height: 3;
    font-weight: 600;
}

.sbwcit_post_meta_cont>input {
    width: 97%;
}

span.sbwcir_resolved {
    background: green;
    color: white;
    padding: 5px 15px;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 1px;
}

span.sbwcir_unresolved {
    background: orange;
    padding: 5px 15px;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* gallery images */

.sbwcit_post_gall_imgs {
    clear: both;
    overflow: auto;
}

.sbwcit-add-gall-img.col-20 {
    width: 20%;
    padding: 15px;
    border: 1px dashed #aaa;
    margin-bottom: 15px;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    margin-right: 30px;
}

.sbwcit-add-gall-img.col-20>label {
    font-weight: 600;
    line-height: 3;
    font-size: 14px;
}

span.sbwcit-add-img {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #007cba;
    color: white;
    text-align: center;
    line-height: 1.6;
    cursor: pointer;
    margin-right: 5px;
}

span.sbwcit-rem-img {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background: #e20707;
    color: white;
    text-align: center;
    line-height: 1.6;
    cursor: pointer;
}

.sbwcit-add-rem-img {
    position: absolute;
    right: 15px;
}

div#sbwcit-gallery-cont>h4 {
    font-size: 14px;
}

.sbwcit-gall-img-cont {
    height: 170px;
    overflow: hidden;
}